<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="description" content="《神之刃》是全球首款3D次世代动作卡牌手游。IMAX级超清画面，华丽技能组合，超越1000种的炫酷战宠，为你带来真正的次世代手游。" /> 
  <meta name="keywords" content="神之刃,神之刃官网,神之刃官方网站,手机游戏,卡牌游戏,卡牌手游,动作游戏,动作手游,3D游戏,3d手游,魔幻,iMAX,次世代" /> 
  <title>资料站</title> 
  <link type="text/css" href="/static/css/gamedata_curr.css" rel="stylesheet" />
 </head> 
 <body class="game_body"> 
  <!--wra start--> 
  <div class="game_wra"> 
   <!--head start--> 
   <div class="game_head"> 
    <div class="game_menu"> 
     <a href="{% url 'game:index' %}" class="game_m1"></a>
     <a href="{% url 'game:index' %}" class="game_m2"></a>
     <a href="http://bbs.szr.8864.com/forum.php" class="game_m3"></a> 
     <!-- JiaThis Button BEGIN --> 
     <div class="jiathis_style"> 
      <a class="jiathis_button_weixin"></a> 
      <a class="jiathis_button_qzone"></a> 
      <a class="jiathis_button_tqq"></a> 
      <a class="jiathis_button_tsina"></a> 
      <a class="jiathis_button_renren"></a> 
     </div> 
     <!-- JiaThis Button END --> 
    </div> 
   </div> 
   <!--head end--> 
   <!--main start--> 
   <div class="game_main"> 
    <!--职业 start--> 
    <div class="game_zy"> 
     <a href="http://szr.8864.com/special/job/soldier.html" target="_blank"><img src="/static/images/game_zy1.jpg" /></a>
     <a href="http://szr.8864.com/special/job/mrge.html" target="_blank"><img src="/static/images/game_zy2.jpg" /></a>
     <a href="http://szr.8864.com/special/job/summoner.html" target="_blank"><img src="/static/images/game_zy3.jpg" /></a>
    </div> 
    <!--职业 end--> 
    <!--资料 start--> 
    <div class="game_zl1"> 
     <div class="game_ul"> 
      <div class="game_text">
       <a href="/statics/article/1/69_61.html" target="_blank">背景介绍</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/71_61.html" target="_blank">游戏界面</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/67_61.html" target="_blank">游戏介绍</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/57_61.html" target="_blank">系统设置</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/21_61.html" target="_blank">基本操作</a>
      </div> 
     </div> 
    </div> 
    <div class="game_zl2"> 
     <div class="game_ul2"> 
      <div class="game_text2">
       <a href="/statics/article/1/81_63.html" target="_blank">宝石</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/79_63.html" target="_blank">装备</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/77_63.html" target="_blank">战魂 </a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/73_63.html" target="_blank">战宠</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/63_63.html" target="_blank">训练</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/61_63.html" target="_blank">头衔</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/59_63.html" target="_blank">圣痕</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/41_63.html" target="_blank">人物技能</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/17_63.html" target="_blank">备战</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/13_63.html" target="_blank">奥义 </a>
      </div> 
     </div> 
    </div> 
    <div class="game_zl3"> 
     <div class="game_ul"> 
      <div class="game_text">
       <a href="/statics/article/1/31_65.html" target="_blank">英雄副本</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/29_65.html" target="_blank">普通副本</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/27_65.html" target="_blank">多人副本</a>
      </div> 
     </div> 
    </div> 
    <div class="game_zl4"> 
     <div class="game_ul2"> 
      <div class="game_text2">
       <a href="/statics/article/1/121_67.html" target="_blank">纹章系统</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/123_67.html" target="_blank">战宠试炼场</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/65_67.html" target="_blank">雅美蝶逆袭 </a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/55_67.html" target="_blank">祈祷大厅</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/53_67.html" target="_blank">魔王讨伐战</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/51_67.html" target="_blank">龙穴探宝</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/49_67.html" target="_blank">炼金系统</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/47_67.html" target="_blank">喀秋莎奇遇 </a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/23_67.html" target="_blank">大战可姆豆</a>
      </div> 
      <div class="game_text2">
       <a href="/statics/article/1/15_67.html" target="_blank">宝石大作战</a>
      </div> 
     </div> 
    </div> 
    <div class="game_zl5"> 
     <div class="game_ul"> 
      <div class="game_text">
       <a href="/statics/article/1/75_69.html" target="_blank">战宠斗兽场</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/45_69.html" target="_blank">竞技场</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/39_69.html" target="_blank">好友系统</a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/33_69.html" target="_blank">公会系统 </a>
      </div> 
      <div class="game_text">
       <a href="/statics/article/1/25_69.html" target="_blank">巅峰之战 </a>
      </div> 
     </div> 
    </div> 
    <!--资料 end--> 
    <!--攻略 start--> 
    <div class="game_gl"> 
     <div class="game_gltit"> 
      <span onmouseover="shu(1,1,5)" id="s_1_1" class="sx_1_1_1"></span> 
      <span onmouseover="shu(2,1,5)" id="s_1_2" class="sx_1_2"></span> 
      <span onmouseover="shu(3,1,5)" id="s_1_3" class="sx_1_3"></span> 
      <span onmouseover="shu(4,1,5)" id="s_1_4" class="sx_1_4"></span> 
      <span onmouseover="shu(5,1,5)" id="s_1_5" class="sx_1_5"></span> 
      <a href="/gamedatalist" class="game_gl_more" target="_blank"></a> 
     </div> 
     <div class="game_gl_spr" id="table_1_1" style="display:none;">
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/281_33.html" target="_blank">[心得体会] 玩转逆天神器 神器获取小窍门 </a>
       </div> 
       <span>2014-08-21</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/189_35.html" target="_blank">[宠物搭配] 君临天下 顶级战宠火焰巨龙解析</a>
       </div> 
       <span>2014-06-11</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/177_33.html" target="_blank">[心得体会] 萌宠也强力 《神之刃》神宠咕咕鸡实战解析</a>
       </div> 
       <span>2014-06-04</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/163_33.html" target="_blank">[心得体会] 顶级战力触手可得 《神之刃》圣痕前缀重置宝典</a>
       </div> 
       <span>2014-05-21</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/147_37.html" target="_blank">[职业玩法] 灵魂的舞者 《神之刃》极品召唤师养成攻略</a>
       </div> 
       <span>2014-05-08</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/143_35.html" target="_blank">[宠物搭配] 龙战天下 《神之刃》神宠雷龙至尊解析</a>
       </div> 
       <span>2014-05-05</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/137_37.html" target="_blank">[职业玩法] 正义的赞歌 《神之刃》极品战士养成攻略</a>
       </div> 
       <span>2014-04-30</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/131_37.html" target="_blank">[职业玩法] 魔法の物语 《神之刃》极品法师养成攻略</a>
       </div> 
       <span>2014-04-24</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/125_33.html" target="_blank">[心得体会] BOSS击杀必知 《神之刃》多人副本通关秘籍</a>
       </div> 
       <span>2014-04-23</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/115_39.html" target="_blank">[其他玩法] 《神之刃》玩家必看纯干货 详解十大游戏系统</a>
       </div> 
       <span>2014-04-08</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/111_39.html" target="_blank">[其他玩法] 圣痕养成秘籍 《神之刃》圣痕系统全解析</a>
       </div> 
       <span>2014-04-04</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/109_33.html" target="_blank">[心得体会] 运筹帷幄之中 《神之刃》备战技巧大讲堂</a>
       </div> 
       <span>2014-04-03</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/105_33.html" target="_blank">[心得体会] 秒杀全屏 《神之刃》推图效率排行榜</a>
       </div> 
       <span>2014-03-31</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/103_37.html" target="_blank">[职业玩法] 《神之刃》三大职业加点全解析</a>
       </div> 
       <span>2014-03-27</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/101_35.html" target="_blank">[宠物搭配] 《神之刃》终极战宠组合推荐 高大上玩家必备</a>
       </div> 
       <span>2014-03-24</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/99_35.html" target="_blank">[宠物搭配] 《神之刃》万能战宠搭配秘笈 推图竞技两不误 </a>
       </div> 
       <span>2014-03-24</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/97_35.html" target="_blank">[宠物搭配] 《神之刃》前期平民战宠推荐 升级必备黄金战队</a>
       </div> 
       <span>2014-03-24</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/95_33.html" target="_blank">[心得体会] 《神之刃》高手速成宝典 一秒钟变身高玩</a>
       </div> 
       <span>2014-03-21</span> 
      </div> 
     </div> 
     <div class="game_gl_spr" id="table_1_2" style="display:none;"> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/281_33.html" target="_blank">[心得体会] 玩转逆天神器 神器获取小窍门 </a>
       </div> 
       <span>2014-08-21</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/177_33.html" target="_blank">[心得体会] 萌宠也强力 《神之刃》神宠咕咕鸡实战解析</a>
       </div> 
       <span>2014-06-04</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/163_33.html" target="_blank">[心得体会] 顶级战力触手可得 《神之刃》圣痕前缀重置宝典</a>
       </div> 
       <span>2014-05-21</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/125_33.html" target="_blank">[心得体会] BOSS击杀必知 《神之刃》多人副本通关秘籍</a>
       </div> 
       <span>2014-04-23</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/109_33.html" target="_blank">[心得体会] 运筹帷幄之中 《神之刃》备战技巧大讲堂</a>
       </div> 
       <span>2014-04-03</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/105_33.html" target="_blank">[心得体会] 秒杀全屏 《神之刃》推图效率排行榜</a>
       </div> 
       <span>2014-03-31</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/95_33.html" target="_blank">[心得体会] 《神之刃》高手速成宝典 一秒钟变身高玩</a>
       </div> 
       <span>2014-03-21</span> 
      </div> 
     </div> 
     <div class="game_gl_spr" id="table_1_3" style="display:none;"> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/189_35.html" target="_blank">[宠物搭配] 君临天下 顶级战宠火焰巨龙解析</a>
       </div> 
       <span>2014-06-11</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/143_35.html" target="_blank">[宠物搭配] 龙战天下 《神之刃》神宠雷龙至尊解析</a>
       </div> 
       <span>2014-05-05</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/101_35.html" target="_blank">[宠物搭配] 《神之刃》终极战宠组合推荐 高大上玩家必备</a>
       </div> 
       <span>2014-03-24</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/99_35.html" target="_blank">[宠物搭配] 《神之刃》万能战宠搭配秘笈 推图竞技两不误 </a>
       </div> 
       <span>2014-03-24</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/97_35.html" target="_blank">[宠物搭配] 《神之刃》前期平民战宠推荐 升级必备黄金战队</a>
       </div> 
       <span>2014-03-24</span> 
      </div> 
     </div> 
     <div class="game_gl_spr" id="table_1_4" style="display:none;"> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/147_37.html" target="_blank">[职业玩法] 灵魂的舞者 《神之刃》极品召唤师养成攻略</a>
       </div> 
       <span>2014-05-08</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/137_37.html" target="_blank">[职业玩法] 正义的赞歌 《神之刃》极品战士养成攻略</a>
       </div> 
       <span>2014-04-30</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/131_37.html" target="_blank">[职业玩法] 魔法の物语 《神之刃》极品法师养成攻略</a>
       </div> 
       <span>2014-04-24</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/103_37.html" target="_blank">[职业玩法] 《神之刃》三大职业加点全解析</a>
       </div> 
       <span>2014-03-27</span> 
      </div> 
     </div> 
     <div class="game_gl_spr" id="table_1_5" style="display:none;"> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/115_39.html" target="_blank">[其他玩法] 《神之刃》玩家必看纯干货 详解十大游戏系统</a>
       </div> 
       <span>2014-04-08</span> 
      </div> 
      <div class="game_gl_a"> 
       <div>
        <a href="/statics/article/1/111_39.html" target="_blank">[其他玩法] 圣痕养成秘籍 《神之刃》圣痕系统全解析</a>
       </div> 
       <span>2014-04-04</span> 
      </div> 
     </div> 
    </div> 
    <div class="height50"></div> 
   </div> 
   <!--攻略 end--> 
   <!--main end--> 
  </div> 
  <!--wra end--> 
  <script language="javascript" src="/static/js/jquery.min.js"></script>
  <script language="javascript" src="/static/js/function.js"></script>
<!--  <script type="text/javascript" src="js/jia.js?uid=1366874268478257" charset="utf-8"></script> -->
<!--  <script src="http://www.linekong.com/web_footer/footer.utf-81.js.php?type=43" language="JavaScript"></script>   -->
 </body>
</html>