<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="description" content="《神之刃》是全球首款3D次世代动作卡牌手游。IMAX级超清画面，华丽技能组合，超越1000种的炫酷战宠，为你带来真正的次世代手游。" /> 
  <meta name="keywords" content="神之刃,神之刃官网,神之刃官方网站,手机游戏,卡牌游戏,卡牌手游,动作游戏,动作手游,3D游戏,3d手游,魔幻,iMAX,次世代" /> 
  <title>资料站 - 详情</title> 
  <link href="images/favicon.ico" type="image/x-icon" rel="icon" /> 
  <link type="text/css" rel="stylesheet" href="css/gamedata_curr.css" /> 
 </head> 
 <body class="game_subbody"> 
  <!--header start--> 
  <div class="sub_header"> 
   <!--导航&下拉菜单 start--> 
   <dl id="nav"> 
    <div style="height:48px; clear:both; overflow:hidden; width:10px;"></div> 
    <dt id="one-ddheader"> 
     <span id="one_home" title="新闻资讯"></span> 
     <span id="one_news" title="游戏资料"></span> 
     <span id="one_gamedates" title="下载专区"></span> 
     <span id="one_download" title="帐号服务"></span> 
     <span id="one_followUs" title="关于我们"></span> 
    </dt> 
    <dd style="display: block; height:0px; opacity: 0;" id="one-ddcontent" class="c"> 
     <div style="height:310px; width:1002px; margin:0 auto; position:relative;"> 
      <a href="index.html" title="官网首页" class="nav_home" target="_blank"></a> 
      <ul id="two_home"> 
       <li><a href="news.html" class="ml_1_1" target="_blank"></a></li> 
       <li><a href="news.html" class="ml_1_2" target="_blank"></a></li> 
       <li><a href="news.html" class="ml_1_3" target="_blank"></a></li> 
      </ul> 
      <ul id="two_news"> 
       <li><a href="/gamedata" class="ml_2_1" target="_blank"></a></li> 
       <li><a href="http://szr.8864.com/special/xinshou/index.html" target="_blank" class="ml_2_2"></a></li> 
       <li><a href="http://szr.8864.com/special/job/soldier.html" class="ml_2_3" target="_blank"></a></li> 
       <li><a href="http://szr.8864.com/gamedatalist" class="ml_2_4" target="_blank"></a></li> 
      </ul> 
      <ul id="two_gamedates"> 
       <li><a href="http://www.8864.com/charge.php?gameId=43" class="ml_3_1" target="_blank"></a></li> 
       <li><a href="http://www.8864.com/login.php?referer=Ucenter" class="ml_3_2" target="_blank"></a></li> 
       <li><a href="http://www.8864.com/login.php?referer=Ucenter" class="ml_3_3" target="_blank"></a></li> 
       <li><a href="http://www.8864.com/register.php" class="ml_3_4" target="_blank"></a></li> 
      </ul> 
      <ul id="two_download"> 
       <li><a href="download.html" class="ml_5_1" target="_blank"></a></li> 
      </ul> 
      <ul id="two_followUs"> 
       <li><a href="javascript:openDialog('openWin12');" class="ml_4_1"></a></li> 
       <li><a href="http://e.t.qq.com/shenzhiren2013" class="ml_4_2" target="_blank"></a></li> 
       <li><a href="http://weibo.com/u/3939922918" class="ml_4_3" target="_blank"></a></li> 
       <li><a href="http://bbs.szr.8864.com/forum.php" class="ml_4_4" target="_blank"></a></li> 
      </ul> 
     </div> 
    </dd> 
   </dl> 
   <!--导航&下拉菜单 end--> 
  </div> 
  <!--header end--> 
  <!--sub_wra start--> 
  <div class="sub_wra"> 
   <!--sub_left start--> 
   <div class="sub_left"> 
    <div class="p1_a"> 
     <div class="p1_a1"> 
      <a href="https://itunes.apple.com/cn/app/shen-zhi-ren3d/id783484211?ls=1&amp;mt=8" class="p1_a1a event_point" target="_blank" gameid="0" eventname="szr_download_ios_button"></a> 
      <a href="http://gdl1201.8864.com/szr/client/szrlk.v1.32.15.683.apk" class="p1_a1b event_point" gameid="0" eventname="szr_download_android_button"></a> 
      <a href="http://gdl1201.8864.com/szr/client/szrlk.v1.33.811.ipa" class="p1_a1c event_point" gameid="0" eventname="szr_download_ios_yy_button"></a> 
      <a href="http://www.windowsphone.com/zh-cn/store/app/%E7%A5%9E%E4%B9%8B%E5%88%83/dc530ae9-7352-4530-af27-9e59840005a9" class="p1_a1d event_point" target="_blank" gameid="0" eventname="szr_download_wp8_button"></a> 
     </div> 
     <div class="p1_a2">
      <img src="images/sub_ewm.jpg" />
     </div> 
    </div> 
    <div class="ml_a"> 
     <a href="http://szr.8864.com/special/xinshou/index.html" target="_blank" class="ml_btn1"></a> 
     <a href="http://szr.8864.com/special/job/soldier.html" class="ml_btn2" target="_blank"></a> 
    </div> 
    <div class="ml_e">
     <a href="data.html" target="_blank"></a>
    </div> 
    <!--sub_menu start--> 
    <div class="ml_f"> 
     <div class="ml_fa">
      新手指引
     </div> 
     <div class="ml_ful"> 
      <ul> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/69_61.html" target="_blank">背景介绍</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/71_61.html" target="_blank">游戏界面</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/67_61.html" target="_blank">游戏介绍</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/57_61.html" target="_blank">系统设置</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/21_61.html" target="_blank">基本操作</a></li> 
      </ul> 
     </div> 
     <div class="ml_fa">
      系统玩法
     </div> 
     <div class="ml_ful"> 
      <ul> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/81_63.html" target="_blank">宝石</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/79_63.html" target="_blank">装备</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/77_63.html" target="_blank">战魂 </a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/73_63.html" target="_blank">战宠</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/63_63.html" target="_blank">训练</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/61_63.html" target="_blank">头衔</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/59_63.html" target="_blank">圣痕</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/41_63.html" target="_blank">人物技能</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/17_63.html" target="_blank">备战</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/13_63.html" target="_blank">奥义 </a></li> 
      </ul> 
     </div> 
     <div class="ml_fa">
      副本玩法
     </div> 
     <div class="ml_ful"> 
      <ul> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/31_65.html" target="_blank">英雄副本</a></li> 
       <ul> 
        <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/29_65.html" target="_blank">普通副本</a></li> 
        <ul> 
         <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/27_65.html" target="_blank">多人副本</a></li> 
        </ul> 
       </ul>
      </ul>
     </div> 
     <div class="ml_fa">
      特色玩法
     </div> 
     <div class="ml_ful"> 
      <ul> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/121_67.html" target="_blank">纹章系统</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/123_67.html" target="_blank">战宠试炼场</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/65_67.html" target="_blank">雅美蝶逆袭 </a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/55_67.html" target="_blank">祈祷大厅</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/53_67.html" target="_blank">魔王讨伐战</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/51_67.html" target="_blank">龙穴探宝</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/49_67.html" target="_blank">炼金系统</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/47_67.html" target="_blank">喀秋莎奇遇 </a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/23_67.html" target="_blank">大战可姆豆</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/15_67.html" target="_blank">宝石大作战</a></li> 
      </ul> 
     </div> 
     <div class="ml_fa">
      交互玩法
     </div> 
     <div class="ml_ful"> 
      <ul> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/75_69.html" target="_blank">战宠斗兽场</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/45_69.html" target="_blank">竞技场</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/39_69.html" target="_blank">好友系统</a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/33_69.html" target="_blank">公会系统 </a></li> 
       <li><img src="images/game_dian.jpg" /><a href="/statics/article/1/25_69.html" target="_blank">巅峰之战 </a></li> 
      </ul> 
     </div> 
    </div> 
    <!--sub_menu end--> 
    <div class="ml_b"></div> 
    <div class="ml_c">
      12355704
     <br /> 308875980
     <br /> 305899485
     <br /> 241399668
     <br /> 
     <font style="color:#325b92;">336216907</font> 
    </div> 
   </div> 
   <!--sub_left end--> 
   <!--sub_right start--> 
   <div class="sub_right"> 
    <!--当前位置 start--> 
    <div class="sub_rtit"> 
     <img src="images/gamelist_gltit.jpg" /> 
     <div class="sub_wz">
       您的位置：
      <a href="index.html">首页</a> &gt; 
      <a href="/gamedata">资料站首页</a> &gt; 
      <a href="/gamedatalist">攻略列表</a> &gt; 攻略文章 
     </div> 
    </div> 
    <!--当前位置 end--> 
    <!--新闻列表 start--> 
    <div class="art_con"> 
     <div class="art_c2">
      玩转逆天神器 神器获取小窍门 
     </div> 
     <div class="art_c3"> 
      <span class="art_c3a">[2014/08/21]</span> 
      <!-- JiaThis Button BEGIN --> 
      <div class="jiathis_style"> 
       <p class="fl_l">分享：</p> 
       <a class="jiathis_button_weixin"></a> 
       <a class="jiathis_button_qzone"></a> 
       <a class="jiathis_button_tqq"></a> 
       <a class="jiathis_button_tsina"></a> 
       <a class="jiathis_button_renren"></a> 
      </div> 
      <!-- JiaThis Button END --> 
     </div> 
     <!--内容 start--> 
     <div class="art_c4"> 
      <p>《神之刃》全新版本神器版已经开启了半月有余，小伙伴们是否都已经奋斗在神器打造的第一线了呢？</p> 
      <p>蓝色神器已经集齐了么？那么这次小编带你开启紫色，橙色神器的获取之旅吧！</p> 
      <p align="center"><img class="" width="500" height="350" alt="" src="images/963n78422.jpg" /></p> 
      <p>【逆天神器套装】</p> 
      <p>紫色套装：逐风者套装，雷霆之怒，裁决者，末日审判</p> 
      <p>橙色套装：盖亚的叹息，泰坦的苏醒，赫拉的诅咒，凯撒的镇压</p> 
      <p align="center"><img class="" width="500" height="350" alt="" src="images/965n34310.jpg" /></p> 
      <p>【神器获取方法】</p> 
      <p>勇气宝库，神秘商店，黑市商店(注意黑市需要V6才能打开)，噩梦副本是获取神器材料的主要途径。打造神器的前提当然是拿到图纸喽，俗话说巧妇难为无米之炊，如果在商店看到紫色或者橙色的神器图纸，千万不要犹豫，果断购入包包中，这样就可以根据图纸去收集材料了。</p> 
      <p>通过狮心王宝藏活动可以获得合成神器所需的材料与图纸，合成一个完整的神器后，可以通过升级、进阶、界限突破的玩法对其进行养成，养成的阶段越高，神器所加的属性越强大，还可以获得强大的被动技能。</p> 
      <p>因为突破需要用到破界石，但破界石获得途径很少，基本为三大商店获取，多数还是从神秘商店和黑市中买，其中黑市商店获取神器材料的效率最高，想要迅速打造神器一定不能放过黑市商店的每一件商品哦。因为界限宝石的需求很大，获取方式又较难，所以在商店出现的一、二星、三星界限石一定要全部买下，每天会获得系统赠送的钻石，可以用来刷新商店的商品。如果出现了幻或者灵类型的商品，果断买入，因为这些都是副本当中无法获取的喔。</p> 
      <p>至于其他普通材料如果不急，可以刷副本材料合成，勇气点只能打狮心，不断提升战力提高狮心宝藏的效率哦，建议神秘商店多刷新购买材料，加速神器的成长。</p> 
      <p>日积月累，辛勤收集，逆天神器助你超越平凡，还等什么，快去铸造你的酷炫神器吧。</p> 
      <p>&nbsp;</p> 
      <p style="text-align: center;"><a href="http://www.8864.com" style="color:orangered;" target="_blank"><strong style="color:orangered;">玩蓝港游戏，上8864游戏！&gt;&gt;</strong></a></p> 
     </div> 
     <!--内容 end--> 
    </div> 
    <!--新闻列表 end--> 
   </div> 
   <!--sub_right end--> 
   <br style="height:1px; overflow:hidden; clear:both;" /> 
  </div> 
  <!--sub_wra end--> 
  <!--微信弹窗 start--> 
  <div id="openWin12" class="wx_tc" style="display:none;"> 
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn2" /> 
  </div> 
  <!--微信弹窗 start--> 
  <!--弹出框 start--> 
  <script type="text/javascript">
	function openDialog(myid){
		 showDialog.show({id:myid,bgcolor:'#000',opacity:60});
	}
</script> 
  <script type="text/javascript" language="javascript" src="js/showDialog.min.js"></script> 
  <!--弹出框 end--> 
<!--  <script type="text/javascript" src="js/jia.js?uid=1366874268478257" charset="utf-8"></script> -->
  <script type="text/javascript" src="js/jquery.min.js"></script> 
  <script language="javascript" src="js/function.js"></script> 
  <script src="http://www.8864.com/web_footer_szr_0.html" language="JavaScript"></script> 
  <script type="text/javascript">
    $(function() {
        // 设置事件点统计代码
        $('.event_point').click(function() {
            var gameId      = $(this).attr("gameid"),
                eventName   = $(this).attr("eventname"),
                packageName = $(this).attr("href");

            // 设置事件点下载统计
            sendDownloadStat(gameId, eventName, encodeURIComponent(packageName));
        });
    });
</script>   
 </body>
</html>