<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="description" content="《神之刃》是全球首款3D次世代动作卡牌手游。次世代超清画面，华丽技能组合，超越1000种的炫酷战宠，为你带来真正的次世代手游。" /> 
  <meta name="keywords" content="神之刃,神之刃官网,神之刃官方网站,手机游戏,卡牌游戏,卡牌手游,动作游戏,动作手游,3D游戏,3d手游,魔幻,1080P,次世代" /> 
  <title>游戏下载</title> 
  <link href="/static/images/favicon.ico" type="image/x-icon" rel="icon" />
  <link type="text/css" rel="stylesheet" href="/static/css/sub_curr.css" />
 </head> 
 <body> 
  <!--header start--> 
  <div class="sub_header"> 
   <!--导航&下拉菜单 start--> 
   <dl id="nav"> 
    <div style="height:48px; clear:both; overflow:hidden; width:10px;"></div> 
    <dt id="one-ddheader"> 
     <span id="one_home" title="新闻资讯"></span> 
     <span id="one_news" title="游戏资料"></span> 
     <span id="one_gamedates" title="下载专区"></span> 
     <span id="one_download" title="帐号服务"></span> 
     <span id="one_followUs" title="关于我们"></span> 
    </dt> 
    <dd style="display: block; height:0px; opacity: 0;" id="one-ddcontent" class="c"> 
     <div style="height:310px; width:1002px; margin:0 auto; position:relative;"> 
      <a href="{% url 'game:index' %}" title="官网首页" class="nav_home"></a>
      <ul id="two_home"> 
       <li><a href="news.html" class="ml_1_1" target="_blank"></a></li> 
       <li><a href="news.html" class="ml_1_2" target="_blank"></a></li> 
       <li><a href="news.html" class="ml_1_3" target="_blank"></a></li> 
      </ul> 
      <ul id="two_news"> 
       <li><a href="data.html" class="ml_2_1" target="_blank"></a></li> 
       <li><a href="http://szr.8864.com/special/xinshou/index.html" target="_blank" class="ml_2_2"></a></li> 
       <li><a href="http://szr.8864.com/special/job/soldier.html" class="ml_2_3" target="_blank"></a></li> 
       <li><a href="http://szr.8864.com/gamedatalist" class="ml_2_4" target="_blank"></a></li> 
      </ul> 
      <ul id="two_gamedates"> 
       <li><a href="http://www.8864.com/charge.php?gameId=43" class="ml_3_1" target="_blank"></a></li> 
       <li><a href="http://www.8864.com/login.php?referer=Ucenter" class="ml_3_2" target="_blank"></a></li> 
       <li><a href="http://www.8864.com/login.php?referer=Ucenter" class="ml_3_3" target="_blank"></a></li> 
       <li><a href="http://www.8864.com/register.php" class="ml_3_4" target="_blank"></a></li> 
      </ul> 
      <ul id="two_download"> 
       <li><a href="download.html" class="ml_5_1" target="_blank"></a></li> 
      </ul> 
      <ul id="two_followUs"> 
       <li><a href="javascript:openDialog('openWin12');" class="ml_4_1"></a></li> 
       <li><a href="http://e.t.qq.com/shenzhiren2013" class="ml_4_2" target="_blank"></a></li> 
       <li><a href="http://weibo.com/u/3939922918" class="ml_4_3" target="_blank"></a></li> 
       <li><a href="http://bbs.szr.8864.com/forum.php" class="ml_4_4" target="_blank"></a></li> 
      </ul> 
     </div> 
    </dd> 
   </dl> 
   <!--导航&下拉菜单 end--> 
  </div> 
  <!--header end--> 
  <!--sub_wra start--> 
  <div class="sub_wra"> 
   <h4 class="dl_tit"></h4> 
   <div class="dl_wra"> 
    <div class="dl_lef"> 
     <h5 class="dl_icon1"></h5> 
     <img src="/static/images/dl_code.jpg" />
     <div class="dl_notice"> 
      <h6>温馨提示</h6> 
      <p>1. 扫描二维码下载游戏时，将会根据你当前设备<br /><span>系统自动匹配，提供相应客户端下载。</span></p> 
      <p>2. 首次安装《神之刃》建议您在WIFI环境下下载<br /><span>并完成安装。</span></p> 
     </div> 
    </div> 
    <ul class="dl_rig"> 
     <li> <h5 class="dl_icon_ios"></h5> <a href="https://itunes.apple.com/cn/app/shen-zhi-ren3d/id783484211?ls=1&amp;mt=8" target="_blank" class="event_point" gameid="0" eventname="szr_download_ios_button"></a> </li> 
     <li> <h5 class="dl_icon_and"></h5> <a href="http://gdl1201.8864.com/szr/client/szrlk.v1.32.15.683.apk" class="event_point" gameid="0" eventname="szr_download_android_button"></a> </li> 
     <li> <h5 class="dl_icon_iosyy"></h5> <a href="http://gdl1201.8864.com/szr/client/szrlk.v1.33.811.ipa" class="event_point" gameid="0" eventname="szr_download_ios_yy_button"></a> </li> 
     <li> <h5 class="dl_icon_wp8"></h5> <a href="http://www.windowsphone.com/zh-cn/store/app/%E7%A5%9E%E4%B9%8B%E5%88%83/dc530ae9-7352-4530-af27-9e59840005a9" target="_blank" class="event_point" gameid="0" eventname="szr_download_wp8_button"></a> </li> 
    </ul> 
   </div> 
  </div> 
  <!--sub_wra end--> 
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/stat.js"></script>
  <script type="text/javascript">
    $(function() {
        // 设置事件点统计代码
        $('.event_point').click(function() {
            var gameId      = $(this).attr("gameid"),
                eventName   = $(this).attr("eventname"),
                packageName = $(this).attr("href");

            // 设置事件点下载统计
            sendDownloadStat(gameId, eventName, encodeURIComponent(packageName));
        });
    });
</script> 
  <script language="javascript" src="/static/js/function.js"></script>
<!--  <script type="text/javascript" src="js/jia.js?uid=1366874268478257" charset="utf-8"></script> -->
<!--  <script src="http://www.linekong.com/web_footer/footer.utf-81.js.php?type=43" language="JavaScript"></script> -->
  <!--微信弹窗 start--> 
  <div id="openWin12" class="wx_tc" style="display:none;"> 
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn2" /> 
  </div> 
  <script type="text/javascript">
	function openDialog(myid){
		 showDialog.show({id:myid,bgcolor:'#000',opacity:60});
	}
</script> 
  <script type="text/javascript" language="javascript" src="/static/js/showDialog.min.js"></script>
 </body>
</html>