
{%  extends 'game/base.html' %}
{% block title  %}
<title>首页</title>
{% endblock %}

{%  block p1 %}


    <div class="p1_b">

     <div id="player">
       <p>图片集是：{{ ads }}</p>
      <ul class="Limg">
       {% for i in ads %}
         {% if forloop.counter == 1 %}

             <li><a href="http://szr.8864.com/special/newkoo/" target="_blank"><img src="/media/{{ i.img }}" /></a></li>
         {% else %}
          <li><a href="data.html" target="_blank"><img src="/media/{{ i.img }}" /></a></li>
         {% endif %}
       {% endfor %}


      </ul>
      <cite class="Nubbt"> <span class="on"></span> <span></span> <span></span> <span></span> <span></span> <span></span> </cite>
      <script type="text/javascript" src="/static/js/slide.js"></script>
     </div>
    </div>

    <!--幻灯 end-->
    <!--新闻 start-->
    <div class="p1_c">
     <div class="p1_c1">
      <span onmouseover="shu(1,2,4)" id="s_2_1" class="sx_2_1_1"></span>
      <span onmouseover="shu(2,2,4)" id="s_2_2" class="sx_2_2"></span>
      <span onmouseover="shu(3,2,4)" id="s_2_3" class="sx_2_3"></span>
      <span onmouseover="shu(4,2,4)" id="s_2_4" class="sx_2_4"></span>
      <a href="news.html" class="p1_c1_more" target="_blank"></a>
     </div>
     <div class="p1_c2" id="table_2_1" style="display:none;">
      <div class="p1_c2b"></div>
      <div class="p1_c2c">
       <span>[活动]</span>
       <div>
        {% for i in notices %}
          <a href="{% url 'game:news' %}" target="_blank">{{ i.title }}</a>
          <br>
       </div>
       <span></span>
       {% endfor %}
      </div>
     </div>
     <div class="p1_c2" id="table_2_2" style="display:none;">
      <div class="p1_c2a">
        {% for i in news %}
           <a href="{% url 'game:news' %}" target="_blank">{{ i.title }}</a>
      </div>
       <span></span>
        {% endfor %}
      </div>
    </div>
    <!--新闻 end-->
{% endblock %}

{%  block m %}
    <div class="m_right">
     <!--职业选项卡 start-->
     <div class="mr_b_con1" id="table_1_1" style="display:none;">
      <a href="http://szr.8864.com/special/job/soldier.html" class="mr_b_btn" target="_blank"></a>
     </div>
     <div class="mr_b_con2" id="table_1_2" style="display:none;">
      <a href="http://szr.8864.com/special/job/mrge.html" class="mr_b_btn" target="_blank"></a>
     </div>
     <div class="mr_b_con3" id="table_1_3" style="display:none;">
      <a href="http://szr.8864.com/special/job/summoner.html" class="mr_b_btn" target="_blank"></a>
     </div>
     <div class="mr_b_tit">
      <span onmouseover="shu(1,1,3)" id="s_1_1" class="sx_1_1_1"></span>
      <span onmouseover="shu(2,1,3)" id="s_1_2" class="sx_1_2"></span>
      <span onmouseover="shu(3,1,3)" id="s_1_3" class="sx_1_3"></span>
     </div>
     <!--职业选项卡 end-->
     <!--游戏截图 start-->
     <div class="mr_c_tit"></div>
     <div class="rollBox">
      <div class="jt_c1" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" onmouseout="ISL_StopUp()"></div>
      <div class="jt_c2" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" onmouseout="ISL_StopDown()"></div>
      <div class="Cont" id="ISL_Cont">
       <div class="ScrCont">
        <div id="List1">
         <a href="javascript:openDialog('openWin');"><img class="jt_c3_img" src="/static/images/jt_img01.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin2');"><img class="jt_c3_img" src="/static/images/jt_img02.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin3');"><img class="jt_c3_img" src="/static/images/jt_img03.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin4');"><img class="jt_c3_img" src="/static/images/jt_img04.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin5');"><img class="jt_c3_img" src="/static/images/jt_img05.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin6');"><img class="jt_c3_img" src="/static/images/jt_img06.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin7');"><img class="jt_c3_img" src="/static/images/jt_img07.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin8');"><img class="jt_c3_img" src="/static/images/jt_img08.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin9');"><img class="jt_c3_img" src="/static/images/jt_img09.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin10');"><img class="jt_c3_img" src="/static/images/jt_img10.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin11');"><img class="jt_c3_img" src="/static/images/jt_img11.jpg" alt="" /></a>
        </div>
        <div id="List2">
         <a href="javascript:openDialog('openWin');"><img class="jt_c3_img" src="/static/images/jt_img01.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin2');"><img class="jt_c3_img" src="/static/images/jt_img02.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin3');"><img class="jt_c3_img" src="/static/images/jt_img03.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin4');"><img class="jt_c3_img" src="/static/images/jt_img04.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin5');"><img class="jt_c3_img" src="/static/images/jt_img05.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin6');"><img class="jt_c3_img" src="/static/images/jt_img06.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin7');"><img class="jt_c3_img" src="/static/images/jt_img07.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin8');"><img class="jt_c3_img" src="/static/images/jt_img08.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin9');"><img class="jt_c3_img" src="/static/images/jt_img09.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin10');"><img class="jt_c3_img" src="/static/images/jt_img10.jpg" alt="" /></a>
         <a href="javascript:openDialog('openWin11');"><img class="jt_c3_img" src="/static/images/jt_img11.jpg" alt="" /></a>
        </div>
       </div>
      </div>
     </div>
     <!--游戏截图 end-->
     <!--媒体专区 start-->
     <div class="mr_d_tit"></div>
     <div id="fd">
      <ul>
       <li id="id1" class="now">魔方网</li>
       <li id="id2">超好玩</li>
       <li id="id3">18183</li>
       <li id="id4">口袋巴士</li>
       <li id="id5">任玩堂</li>
       <li id="id6">搞趣网</li>
       <li id="id7">玩客</li>
       <li id="id8">游戏多</li>
       <li id="id9">着迷网</li>
       <li id="id10">九游</li>
       <li id="id11">游戏狗</li>
      </ul>
      <p class="now"> <iframe src="http://www.mofang.com/szr/list_6098_1.html?refreshcache=1" width="718" height="179" scrolling="no" frameborder="0"></iframe> </p>
      <p style="display:none"> <iframe src="http://www.18touch.com/api/szr.php" width="718" height="179" scrolling="no" frameborder="0"></iframe> </p>
      <p style="display:none"> <iframe src="http://szr.18183.com/compage.html" width="718" height="179" scrolling="no" frameborder="0"></iframe> </p>
      <p style="display:none"> <iframe src="http://www.ptbus.com/shenzhiren/show/" width="718" height="179" scrolling="no" frameborder="0"></iframe> </p>
      <p style="display:none"> <iframe src="http://szr.appgame.com/www" width="718" height="179" scrolling="no" frameborder="0"></iframe> </p>
      <p style="display:none"><iframe src="http://www.gao7.com/hz/GameSZR.aspx" width="718" height="179" scrolling="no" frameborder="0"></iframe></p>
      <p style="display:none"><iframe src="http://szr.wankr.com.cn/out_01" width="718" height="179" scrolling="no" frameborder="0"></iframe></p>
      <p style="display:none"><iframe src="http://www.youxiduo.com/iframe/30267.shtml" width="718" height="179" scrolling="no" frameborder="0"></iframe></p>
      <p style="display:none"><iframe src="http://html.joyme.com/iframe/szr/index.html" width="718" height="179" scrolling="no" frameborder="0"></iframe></p>
      <p style="display:none"><iframe src="http://www.9game.cn/tpl/pc2/cooperation/szr_news.html" width="718" height="179" scrolling="no" frameborder="0"></iframe></p>
      <p style="display:none"><iframe src="http://pcapi.gamedog.cn/qianru/shenzhiren.html" width="718" height="179" scrolling="no" frameborder="0"></iframe></p>
     </div>
     <!--媒体专区 end-->
     <!--提示信息 start-->
     <div class="tsxx">
      <a href="http://www.8864.com/Ucenter/" target="_blank" class="t1">完善个人信息防沉迷</a>
      <a href="http://www.8864.com/jiazhang/" target="_blank" class="t2">家长监护工程</a>
      <a href="http://www.linekong.com/static/article_000/009/855_201.shtml" target="_blank" class="t3">用户游戏纠纷处理方式</a>
      <a href="http://www.linekong.com/static/article_000/009/857_201.shtml" target="_blank" class="t4">用户指引和警示说明</a>
     </div>
     <!--提示信息 end-->
    </div>
{%  endblock %}

{%  block tss %}
<div class="tss">
    <pre><strong>适龄提示</strong>：适合18岁以上玩家使用　　<strong>游戏健康公告</strong>：抵制不良游戏　拒绝盗版游戏　注意自我保护　谨防受骗上当　适度游戏益脑　沉迷游戏伤身　合理安排时间　享受健康生活</pre>
   </div>
{%  endblock  %}

{%  block div %}
  <!--游戏截图弹窗 start-->
  <div id="openWin" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb1.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin2" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb2.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin3" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb3.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin4" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb4.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin5" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb5.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin6" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb6.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin7" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb7.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin8" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb8.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin9" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb9.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin10" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb10.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <div id="openWin11" class="jt_tc" style="display:none;">
   <img src="/static/images/jt_imgb11.jpg" />
   <input type="button" onclick="javascript:showDialog.hide()" class="closebtn" />
  </div>
  <!--游戏截图弹窗 end-->
{%  endblock %}

