{%  extends 'game/base.html' %}
{% block title  %}
<title>新闻 - 详情</title>
<link href="/static/images/favicon.ico" type="image/x-icon" rel="icon"/>
<link type="text/css" rel="stylesheet" href="/static/css/sub_curr.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/main_curr.css"/>
{% endblock %}

{% block m %}
<div class="sub_right">
    <!--当前位置 start-->
    <div class="sub_rtit">
        <img src="/static/images/newslist_tit.jpg"/>
        <div class="sub_wz">
            您的位置：
            <a href="index.html">首页</a> &gt;
            <a href="news.html">新闻列表</a> &gt; 新闻文章
        </div>
    </div>
    <!--当前位置 end-->
    <!--文章内容 start-->
    <div class="art_con">
        <!--热点 start-->
        <div class="art_c1">
            <ul>
                <li>
                    <div class="art_c1a">
                        热点资讯
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/407.html" target="_blank">堕落天使降临人间 新版暗黑来袭</a>
                        </div>
                        <span>[01/14]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/291.html" target="_blank">【越狱及安卓版】8月28日停机更新公告</a>
                        </div>
                        <span>[08/27]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/279.html" target="_blank">【越狱及安卓版】8月20日停机更新公告</a>
                        </div>
                        <span>[08/19]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/265.html" target="_blank">【越狱及安卓版】8月7日停机更新公告</a>
                        </div>
                        <span>[08/06]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/241.html" target="_blank">《神之刃》霸主争夺赛分区公告</a>
                        </div>
                        <span>[07/15]</span>
                    </div>
                </li>
                <li>
                    <div class="art_c1a">
                        热点活动
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/277.html" target="_blank">充值大返利 金币、红色圣痕轻松得！</a>
                        </div>
                        <span>[08/19]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/275.html" target="_blank">周末精彩多倍活动 马上拥有亡灵领主安瑟</a>
                        </div>
                        <span>[08/15]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/273.html" target="_blank">《神之刃》紫色套装神器限时赠送！</a>
                        </div>
                        <span>[08/12]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/269.html" target="_blank">周末精彩活动多 蓝色神器材料免费拿</a>
                        </div>
                        <span>[08/07]</span>
                    </div>
                    <div class="art_c1b">
                        <div>
                            <a href="/statics/article/1/263.html" target="_blank">充值大返利 3000万金币属于你！ </a>
                        </div>
                        <span>[08/05]</span>
                    </div>
                </li>
            </ul>
        </div>
        <!--热点 end-->
        <div class="art_c2">
            {{new.title}}
        </div>
        <div class="art_c3">
            <span class="art_c3a">{{new.create_time}}</span>
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style">
                <p class="fl_l">分享：</p>
                <a href="www.baidu.com">百度</a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_renren"></a>
            </div>
            <!-- JiaThis Button END -->
        </div>
        <!--内容 start-->
        <div class="art_c4" style="width:634px;height: auto;">
            {% for i in new.newsdetail_set.all %}
            {{i}}
            <p><strong><font size="2">活动一：{{i.title}}</font></strong></p>
            <p>活动时间：{{i.create_time}}至{{i.update_time}}</p>
            <p style="width: 200px">活动内容：{{i.content|safe}}</p>
            <p>
                五折道具包含：【魔龙傲视礼盒】【魔王降临礼盒】【激情超值礼盒】【激情特惠礼盒】【生命传承者礼盒】【无尽的英灵礼盒】【不羁的魂歌礼盒】【曙光之狩礼盒】【不思议咏唱礼盒】【舍身之盾礼盒】【特洛伊盾墙礼盒】【无尽的杀意礼盒】</p>
            <p>
                三折道具包含：【水漫千山礼盒】【冰封千里礼盒】【特级附魔礼盒】【高级附魔礼盒】【高级觉醒礼盒】【特级觉醒礼盒】【纹章宝箱】【战宠成长宝箱】【灵魂震慑礼盒】【饮血高歌礼盒】【燃烧意志礼盒】【悲鸣转移礼盒】【永恒裁决礼盒】【大暗言术礼盒】</p>
            <p>&nbsp;</p>
            {% endfor %}
            {% for i in newsdetails %}
            <p><strong>活动二：{{i.title}}</strong></p>
            <p>活动时间：{{i.create_time}}至{{i.update_time}}</p>
            <p>活动内容：{{i.content|safe}}</p>
            <p>活动期间内每日登陆《神之刃》游戏将会获得如下奖励：</p>
            <p>【金币】*30万；</p>
            <p>【训练口粮】*100；</p>
            <p>【黄金可姆豆】*1；</p>
            <p>【绿色星辰材料包】*15</p>
            <p>【初级神域材料包】*10</p>
            <p>【魔法气息】*30000</p>
            <p>小贴士：</p>
            <p>1.&nbsp;每日登陆奖励仅可在当日获得，小伙伴们不要错过哦！</p>
            <p>2.&nbsp;开启【绿色星辰材料包】可以获得随机的绿色星盘材料1个。</p>
            <p>3.&nbsp;开启【初级神域材料包】将有机会获得一定数量的魔晶、魔法气息、宝物材料，装备宝物激神域可以显著提高实力！</p>
            <p>4.&nbsp;魔法气息是魔瓶升级的必备材料，升级魔瓶可以显著提高神圣之力和暗影之力的积累和存储能力。</p>
            <p>&nbsp;</p>
            {% endfor %}

            <p><strong>活动三：激情跨服，首充速成长！</strong></p>
            <p>活动时间：2015年8月25日0:00至2015年8月27日23:59</p>
            <p>活动内容：活动期间内，每日【首次单笔充值】满100蓝钻，即可获得1500训练口粮，100万魔晶的超爽返利！</p>
            <p>小贴士：</p>
            <p>1.&nbsp;活动期间内，每天仅可获得1次本活动奖励；3天共计可获得4500点训练口粮，300万魔晶的超爽返利！</p>
            <p>2.&nbsp;活动期间内，每日【首次单笔充值】100蓝钻才可获得奖励，请小伙伴们注意。</p>
            <p>&nbsp;</p>
            <p><strong>活动四：&nbsp;八月欢乐行，充值添福利！</strong></p>
            <p>活动时间：2015年8月25日0:00至2015年8月27日23:59</p>
            <p>活动内容：活动期间内，当日充值到达对应金额，即可获得大量【魔法气息】、【训练口粮】、【魔粉】和海量金币，每日充值达到一定额度更可获得橙色奥义礼包。激情跨服，火热引爆！</p>
            <p>当日充值满150蓝钻，即可获得【魔法气息】*30000，【训练口粮】*400， 100点【魔粉】，700万金币的超值返利！</p>
            <p>当日充值满300蓝钻，即可获得【魔法气息】*50000，【训练口粮】*600， 200点【魔粉】，900万金币的超值返利！</p>
            <p>当日充值满500蓝钻，即可获得【魔法气息】*70000，【训练口粮】*1000， 300点【魔粉】，1000万金币的超值返利！</p>
            <p>当日充值满1000蓝钻，即可获得【魔法气息】*90000，【训练口粮】*1500， 400点【魔粉】，2000万金币的超值返利，更可获得1个【橙色奥义礼包】！</p>
            <p>当日充值满5000蓝钻，即可获得【魔法气息】*120000，【训练口粮】*2000， 500点【魔粉】，3000万金币的超值返利！</p>
            <p>当日充值满10000蓝钻，即可获得【魔法气息】*150000，【训练口粮】*2500， 600点【魔粉】，5000万金币的超值返利！</p>
            <p>小贴士：</p>
            <p>1.&nbsp;每日累计充值到达对应金额后，不同档位的奖励可以重复领取。<br/>
                例如：每日累计充值到达10000钻，总共可获得【魔法气息】*510000，【训练口粮】*8000，2100点【魔粉】，12600万金币的超值返利，更可获得1个【橙色奥义礼包】！</p>
            <p>2.&nbsp;魔法气息是魔瓶升级的必备材料，升级魔瓶可以显著提高神圣之力和暗影之力的积累和存储能力！</p>
            <p>3.&nbsp;开启【橙色奥义礼包】可以获得一个随机的橙色品质奥义，对实力的提升非同寻常哦！</p>
            <p>&nbsp;</p>
            <p><strong>活动五：&nbsp;限时神宠，【黑暗魔王凯尔】穿越降临</strong></p>
            <p>活动时间：2015年8月25日0:00至2015年8月27日23:59</p>
            <p>
                活动内容：【黑暗魔王凯尔】自神秘时空裂缝穿越而来！全新的奥古杜之魂，超强物理群体攻击，独有的暗属性持续伤害，霸气嚣狂的鬼魅外观，融合无比强大黑暗力量的神之敌手——黑暗魔王凯尔，势必将引起奥拉大陆风云变色！<br/>
                &nbsp;
            </p>
            <p align="center"><img class="" width="500" height="334" alt="" src="images/n111000001523385.png"/></p>
            <p><br/> 活动期间使用【钻石抽奖】功能，将会有机会获得紫色强力神宠【黑暗魔王凯尔】。</p>
            <p>【黑暗魔王凯尔】优势介绍：</p>
            <p>优势1：超强物理持续群攻，0延迟秒出手！</p>
            <p>普通攻击：对敌方全体造成35%的物理伤害。</p>
            <p>主动技能：【黯魔幻域斩】对敌方全体造成60%的物理伤害并有30%概率使被攻击者受到自身物攻5%的暗属性持续伤害，持续2回合。</p>
            <p>被动技能：【势如破竹】提高自身5%的破格。【强袭猛攻】提升自身5%的物攻。【死亡刻印】如果目标单位正在受到持续性伤害，则自身造成的伤害提高10%。</p>
            <p>优势2：全新战魂【奥古杜之魂】！</p>
            <p>奥古杜之魂属性：生命+30%，破格+15%。</p>
            <p>可与英雄王之魂组合获得：生命+40%，破格+12%加成。</p>
            <p>可与大贤者之魂组合获得：生命+40%，暴击+12%加成。</p>
            <p>可与召唤王之魂组合获得：生命+40%，暴击+12%加成。</p>
            <p>可与莉莉丝之魂组合获得：物攻+13%，魔防+13%，破格+26%，暴击+26%加成。</p>
            <p>可与泰芙努特之魂组合获得：生命+26%，物防+13%，魔防+13%，破格+16%，韧性+16%加成。</p>
            <p>奥古杜之魂可将【奥义 战意】、【奥义 利刃】、【奥义 杀意决】、【奥义 圣光盾】、【灵魂的蔑视】、【永恒的裁黩】、【大暗言术】激活为【秘 奥义】。</p>
            <p>小贴士：</p>
            <p>&nbsp;钻石券也可参与活动。</p>
            <p>&nbsp;</p>
            <p><strong>活动六&nbsp;：限时抢购，战宠橙色神器礼盒来袭！</strong></p>
            <p>活动时间：2015年8月25日0:00至2015年8月27日23:59</p>
            <p>
                活动内容：活动期间内，商城中将会上架【战宠橙色神器礼盒】，开启礼盒除了可以获得海量金币、蓝色神器材料、紫色神器材料和橙色神器材料外，还将有机会直接获得战宠的橙色神器套装1件，佩戴神器将会极大增强战宠的实战能力，小伙伴们千万不要错过哦！</p>
            <p>小贴士：</p>
            <p>1.&nbsp;礼盒产出道具过于强大，因此进行了每日限购，VIP等级越高的玩家购买数量越多。</p>
            <p>2.&nbsp;每日凌晨0:00重置购买数量。</p>
            <p>3.&nbsp;【战宠橙色神器礼盒】角色等级到达45级才可使用。</p>
            <p>&nbsp;</p>
            <p style="text-align: center;"><a href="http://www.8864.com" style="color:orangered;"
                                              target="_blank"><strong
                    style="color:orangered;">玩蓝港游戏，上8864游戏！&gt;&gt;</strong></a></p>
        </div>
        <!--内容 end-->
        <div class="art_c5">
            <div class="art_c5a">
                《神之刃》
            </div>
            <p class="art_c5b"><strong>是全球首款3D次时代卡牌大作。</strong>次世代超清画面，带来全新视觉饕餮盛宴。华丽技能组合，秒杀全屏，轰出独有必杀连击。超越1000种的炫酷战宠，无限养成搭配，打造专属的战队组合。比微信更少的流量需求，让您不必担忧流量问题，24小时无忧畅玩。还在等什么，一起来享受这场天马行空的顶级游戏盛宴吧！
            </p>
        </div>
    </div>
    <!--文章内容 end-->
</div>
<!--sub_right end-->
<br style="height:1px; overflow:hidden; clear:both;"/>
{% endblock %}
{%  block div %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/stat.js"></script>
<script type="text/javascript">
    $(function () {
        // 设置事件点统计代码
        $('.event_point').click(function () {
            var gameId = $(this).attr("gameid"),
                eventName = $(this).attr("eventname"),
                packageName = $(this).attr("href");

            // 设置事件点下载统计
            sendDownloadStat(gameId, eventName, encodeURIComponent(packageName));
        });
    });
</script>
<script language="javascript" src="/static/js/function.js"></script>
<!--  <script type="text/javascript" src="js/jia.js?uid=1366874268478257" charset="utf-8"></script> -->
<script src="http://www.8864.com/web_footer_szr_0.html" language="JavaScript"></script>
<!--微信弹窗 start-->
<div id="openWin12" class="wx_tc" style="display:none;">
    <input type="button" onclick="javascript:showDialog.hide()" class="closebtn2"/>
</div>
<script type="text/javascript">
    function openDialog(myid) {
        showDialog.show({id: myid, bgcolor: '#000', opacity: 60});
    }
</script>
<script type="text/javascript" language="javascript" src="/static/js/showDialog.min.js"></script>
{%  endblock %}
