@charset "utf-8";
*{ margin:0; padding:0;}
img{border:0;width: 200px;}
ul,li{ list-style:none;}
a{color:#062e5c;text-decoration:none;outline: none;blr:expression(this.onFocus=this.blur());outline:none;}
a:hover{ text-decoration:underline;}
body{ background:url(../images/sub_bg.jpg) top center no-repeat; background-color:#efefef;margin:0; padding:0;font-size:12px; font-family:Arial, '宋体';}
.sub_header{ background:url(../images/sub_hea_bg.jpg) top center no-repeat; height:310px; width:100%;}
.wx_tc{ width:360px; height:380px; position:relative; background:url(../images/wx_tc.jpg);}
.closebtn2{ width:47px; height:46px; border:0; cursor:pointer; position:absolute; top:0px; right:0px; display:block; background:url(../images/none.gif);}
/*导航下拉菜单*/
.nav_home{ position:absolute; top:48px; height:46px; width:88px; left:0; z-index:99999; display:block;}
.nav_bbs{ position:absolute; top:48px; height:46px; width:88px; right:0; z-index:99999; display:block;}
#nav{position:relative; z-index:9999;}
#nav dt,#nav dt span{background:url(../images/none.gif);}
#nav dt{height:46px; width:1002px; margin:0 auto; background-position:0 0; position:relative;}
#nav dt span{position:absolute; display:block; height:46px;background-position:-9999px -9999px;}

#nav dd{ position:absolute; overflow:hidden;display:none;opacity:0;z-index:200; width:100%; top:0;left:0px; background:url(../images/sub_menu.jpg) top center no-repeat; height:310px;}
#nav dd ul{float:left;height:144px;display:block;padding:0;}
#nav dd ul.curr{}
#nav dd ul li{overflow:hidden;}
#nav dd ul li,#nav dd ul li a{display:block; height:29px; line-height:29px;text-align:center; width:100%; }
#nav dd ul li a{width:88px;}

#one_home{width:88px;left:146px;}
#one_home.curr{} 
#two_home{width:88px;left:146px;top:107px; position:absolute;}

#one_news{width:88px;left:291px;}
#one_news.curr{}
#two_news{width:88px;left:291px;top:107px; position:absolute;}

#one_gamedates{width:88px; left:625px;}
#one_gamedates.curr{}
#two_gamedates{width:88px;left:770px;top:107px; position:absolute;}

#one_download{width:88px;left:770px;}
#one_download.curr{ }
#two_download{width:88px;left:625px;top:107px; position:absolute;}
#one_followUs{width:88px;left:916px;}
#two_followUs{width:88px;/*left:770px;*/ left:916px;top:107px; position:absolute;}

.ml_1_1,.ml_1_1:hover,.ml_1_2,.ml_1_2:hover,.ml_1_3,.ml_1_3:hover,.ml_2_1,.ml_2_1:hover,.ml_2_2,.ml_2_2:hover,.ml_2_3,.ml_2_3:hover,.ml_2_4,.ml_2_4:hover,.ml_3_1,.ml_3_1:hover,.ml_3_2,.ml_3_2:hover,.ml_3_3,.ml_3_3:hover,.ml_3_4,.ml_3_4:hover,.ml_4_1,.ml_4_1:hover,.ml_4_2,.ml_4_2:hover,.ml_4_3,.ml_4_3:hover,.ml_4_4,.ml_4_4:hover,.ml_5_1,.ml_5_1:hover{ background:url(../images/sub_menu.jpg); width:88px; height:29px;}
.ml_1_1{ background-position:-605px -107px;}
.ml_1_1:hover{ background-position:-605px -417px;}
.ml_1_2{ background-position:-605px -136px;}
.ml_1_2:hover{ background-position:-605px -446px;}
.ml_1_3{ background-position:-605px -165px;}
.ml_1_3:hover{ background-position:-605px -475px;}
.ml_2_1{ background-position:-750px -107px;}
.ml_2_1:hover{ background-position:-750px -417px;}
.ml_2_2{ background-position:-750px -136px;}
.ml_2_2:hover{ background-position:-750px -446px;}
.ml_2_3{ background-position:-750px -165px;}
.ml_2_3:hover{ background-position:-750px -475px;}
.ml_2_4{ background-position:-750px -194px;}
.ml_2_4:hover{ background-position:-750px -504px;}
.ml_3_1{ background-position:-1229px -107px;}
.ml_3_1:hover{ background-position:-1229px -417px;}
.ml_3_2{ background-position:-1229px -136px;}
.ml_3_2:hover{ background-position:-1229px -446px;}
.ml_3_3{ background-position:-1229px -165px;}
.ml_3_3:hover{ background-position:-1229px -475px;}
.ml_3_4{ background-position:-1229px -194px;}
.ml_3_4:hover{ background-position:-1229px -504px; /*background-position:-1084px -504px;*/}
.ml_4_1{ background-position:-1375px -107px;}
.ml_4_1:hover{ background-position:-1375px -417px;}
.ml_4_2{ background-position:-1375px -136px;}
.ml_4_2:hover{ background-position:-1375px -446px;}
.ml_4_3{ background-position:-1375px -165px;}
.ml_4_3:hover{ background-position:-1375px -475px;}
.ml_4_4{ background-position:-1375px -194px;}
.ml_4_4:hover{ background-position:-1375px -504px; /*background-position:-1229px -475px;*/}
.ml_5_1{background-position:-1084px -107px;}
.ml_5_1:hover{background-position:-1084px -417px;}

.sub_wra{ width:1002px; margin:auto; background:url(../images/sub_conbg.jpg) no-repeat; background-color:#efefef; padding:30px 0px;}
.sub_left{width:230px; float:left; padding:0px 30px 0px 12px;}
.p1_a{ width:230px;}
.p1_a1{ height:111px;}
.p1_a1a,.p1_a1a:hover,.p1_a1b,.p1_a1b:hover,.p1_a1c,.p1_a1c:hover,.p1_a1d,.p1_a1d:hover{ background:url(../images/sub_download_btn.jpg); display:block; float:left; height:56px; width:115px;}
.p1_a1a{ background-position:0px 0px;}
.p1_a1a:hover{ background-position:0px -111px;}
.p1_a1b{ background-position:-115px 0px;}
.p1_a1b:hover{ background-position:-115px -111px;}
.p1_a1c{ background-position:0px -56px; height:55px;}
.p1_a1c:hover{ background-position:0px -167px;height:55px;}
.p1_a1d{ background-position:-115px -56px; height:55px;}
.p1_a1d:hover{ background-position:-115px -167px;height:55px;}
.p1_a2{ background:url(../images/sub_ewm_bg.jpg) no-repeat; height:124px; padding:15px 0px 0px 0px;}
.p1_a2 img{ width:101px; height:101px; margin:auto; display:block;}
.ml_a{ height:143px; padding:20px 0px 0px 0px;}
.ml_btn1,.ml_btn:hover,.ml_btn2,.ml_btn2:hover,.ml_btn3,.ml_btn3:hover,.ml_btn4,.ml_btn4:hover{ background:url(../images/xgg_btn.jpg); display:block; float:left; width:115px; height:71px;}
.ml_btn1{ background-position:0px 0px;}
.ml_btn1:hover{ background-position:0px -143px;}
.ml_btn2{ background-position:-115px 0px;}
.ml_btn2:hover{ background-position:-115px -143px;}
.ml_btn3{ background-position:0px -71px; height:72px;}
.ml_btn3:hover{ background-position:0px -214px;height:72px;}
.ml_btn4{ background-position:-115px -71px; height:72px;}
.ml_btn4:hover{ background-position:-115px -214px;height:72px;}
.ml_b{ background:url(../images/gf_wx.jpg) no-repeat; height:144px; margin:20px 0px 0px 0px;}
.ml_c{ background:url(../images/qq.jpg) no-repeat; height:123px;color:#576067; padding:44px 0px 0px 45px; line-height:22px;}
.ml_d{ background:url(../images/mt.jpg) no-repeat; height:200px; margin:20px 0px; position:relative;}
.ml_d1{ background:url(../images/look_link.jpg);width:188px; height:32px; position:absolute; bottom:19px; left:21px; cursor:pointer;}
.ml_add{ background:url(../images/ind_kfdh.jpg) no-repeat; height:100px;}
.ml_d2{ width:160px; padding:0px 10px;border:solid 1px #94a2af; background:#fff;left:24px;top:180px; position:absolute;}
.ml_d2 a{ line-height:30px; display:block; text-align:center;color:#576067; clear:both; width:145px; border-bottom:dotted 1px #6680a3;}
.ml_d2_add{ width:170px; overflow-y:scroll; height:100px;}
.ml_d3{ width:186px; height:77px; float:left;overflow:hidden; position:absolute; top:65px; left:22px;}
.ml_d3 ul{ width:194px;}
.ml_d3 ul li{float:left;border:solid 1px #dfdeda; margin:0px 1px 1px 0px;}
.ml_d3 ul li img{ width:90px; height:33px;}
.sub_right{ float:left; width:720px;}
.sub_rtit{ background:url(../images/sub_titbg.jpg) no-repeat; height:41px; position:relative;}
.sub_wz{ position:absolute; right:10px; line-height:35px;color:#afafaf;top:0;}
.sub_wz a{color:#8eaac4;}
.sub_rsprtit{ height:40px;}
/*第3个选项卡*/
.sx_3_1,.sx_3_1_1,.sx_3_2,.sx_3_2_1,.sx_3_3,.sx_3_3_1,.sx_3_4,.sx_3_4_1{ background:url(../images/sub_sprtit.jpg); display:block;float:left; height:40px;cursor:pointer;}
.sx_3_1{ background-position:0px 0px; width:181px;}
.sx_3_1_1{ background-position:0px -40px;width:181px;}
.sx_3_2{ background-position:-181px 0px; width:180px;}
.sx_3_2_1{ background-position:-181px -40px; width:180px;}
.sx_3_3{ background-position:-361px 0px; width:180px;}
.sx_3_3_1{ background-position:-361px -40px; width:180px;}
.sx_3_4{ background-position:-541px 0px; width:179px;}
.sx_3_4_1{ background-position:-541px -40px; width:179px;}
.sub_rspr_con{border-left:solid 1px #dfdeda;border-right:solid 1px #dfdeda;border-bottom:solid 1px #dfdeda; width:678px; background:#fff; padding:20px;min-height:793px; height:auto !important; height:793px; overflow:visible;}
.sub_ra{ background:url(../images/sub_listtit.jpg); height:29px; width:662px; margin:0px auto 20px auto;}
.sub_rb{ width:662px; margin:auto; height:40px; line-height:40px;}
.sub_rb1{ float:left; width:50px; overflow:hidden;color:#959595;}
.sub_rb3{ float:left; width:80px; overflow:hidden; text-align:center;color:#959595;}
.sub_rb2{ float:left; overflow:hidden; width:530px;text-overflow:ellipsis; white-space:nowrap;color:#646363;}
.sub_rb2 a{color:#646363;}
.sub_rb2 a:hover{color:#6680a3; text-decoration:none;}
.sub_page{ padding:30px 0px; width:662px;}
.sub_page a{color:#88898e; margin:0px 6px;}
.art_con{border-left:solid 1px #dfdeda;border-right:solid 1px #dfdeda;border-bottom:solid 1px #dfdeda; width:718px; padding:20px 0px; background:white;}
.art_c1{ width:674px; margin:auto; overflow:hidden;}
.art_c1 ul{ width:684px;}
.art_c1 li{ float:left; width:330px; border:solid 1px #94a2af; margin-right:10px; padding:5px 0px 10px 0px;}
.art_c1a{border-bottom:dotted 1px #6680a3;font-weight:bold;font-size:16px;color:#323232; font-family:'黑体'; width:300px; margin:0px auto 10px auto; height:38px; line-height:38px; padding:0px 0px 0px 10px;}
.art_c1b{ width:310px; margin:auto; height:25px; line-height:25px;color:#969696}
.art_c1b div{ float:left; width:265px; overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.art_c1b div a{color:#969696;}
.art_c1b span{ float:left; width:45px; text-align:right;}
.art_c2{font-size:24px;font-family:'黑体'; height:45px; line-height:45px; text-align:center; padding:15px 0px 0px 0px;}
.art_c3{ line-height:20px; border-bottom:solid 1px #94a2af; width:454px; height:20px; margin:auto; padding:0px 0px 10px 220px;}
.art_c3a{ float:left;color:#323232;}
.jiathis_style{ float:left; margin:0px 0px 0px 30px;}
.jiathis_style a{ float:left;}
.fl_l{ float:left;}
.art_c4{ border-bottom:solid 1px #94a2af; padding:20px; width:634px; margin:auto; line-height:20px;color:#646363;min-height:340px; height:auto !important; height:340px; overflow:visible;}
.art_c4 p{ margin:0px 0px 10px 0px; text-indent:24px;}
.art_c4 strong{color:#6680a3; clear:both; display:block;}
.art_c5{ background:url(../images/article_img.jpg); height:154px; width:672px; position:relative; margin:20px auto;border:solid 1px #94a2af;}
.art_c5a{ position:absolute;top:9px; right:227px;font-size:24px;color:#323232;font-family:'黑体';}
.art_c5b{ position:absolute; top:38px; right:20px;color:#323232; text-indent:70px; width:385px;line-height:22px;}
/*下载页*/
.dl_tit{ width:130px; height:20px; background:url(../images/downLoadIcon.png) no-repeat; margin:26px 0px 9px 9px;}
.dl_wra{ width:979px; height:391px; margin:0 auto; background:url(../images/downloadConBg.jpg) no-repeat; padding:1px;}
.dl_lef{ width:292px; height:367px; float:left; padding:24px 0px 0px 34px;}
.dl_lef img{ margin:12px 0px 0px 37px;}
.dl_notice{ width:260px; margin:12px 0px 0px 0px;}
.dl_notice h6{ color:#5c5c5c; font-size:15px; font-family:'微软雅黑'; margin-bottom:2px;}
.dl_notice p{ font-size:12px; color:#5c5c5c; line-height:20px;}
.dl_notice p span{ padding-left:13px;}
.dl_con_tit{ line-height:34px; font-size:18px; font-family:'微软雅黑';}
.dl_icon1,.dl_icon_ios,.dl_icon_and,.dl_icon_iosyy,.dl_icon_wp8{width:162px; height:34px; background:url(../images/downLoadIcon.png) no-repeat;}
.dl_icon1{ background-position: 0px -23px; margin-left:3px;}
.dl_icon_ios{ background-position: 0px -57px; margin-left:3px;}
.dl_icon_and{ background-position: 0px -92px;}
.dl_icon_iosyy{ background-position: 0px -127px; margin-left:3px;}
.dl_icon_wp8{ background-position: 0px -160px; margin-left:3px;}

.dl_rig{ width:652px; height:391px; float:left;}
.dl_rig li{ width:277px; height:172px; float:left; margin-left:1px; display:inline; padding:23px 0px 0px 48px;}
.dl_rig li a{ display:block; width:231px; height:68px; margin:26px 0px 0px 0px; background:url(../images/downLoadIcon.png) 0px -200px;}
.dl_rig li a:hover{ background-position: 0px -272px;}