{% extends 'blog/base.html' %}
{% block title %}
<title>博客实战</title>
{% endblock %}

{% block left %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for a in ads %}
        {% if forloop.counter == 1 %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% else %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="width: 296px;height: 216px;text-align: center">
        {% for a in ads %}
        {% if forloop.counter == 1 %}
        <div class="item active" align="center">
            <img src="/media/{{ a.img }}" alt="...">
            <div class="carousel-caption">
                <h1>{{a.desc}}</h1>
            </div>

        </div>
        {% else %}
        <div class="item" align="center">
            <img src="/media/{{a.img}}" alt="...">
            <div class="carousel-caption">
                <h1>{{a.desc}}</h1>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{%  for article in page.paginator.page_range %}
<article class="post post-{{article.id}}">


    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{% url 'blog:single' article.id %}">{{article.title}}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{article.category.title}}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                                                      datetime="2012-11-09T23:15:57+00:00">{{article.create_time}}</time></a></span>
            <span class="post-author"><a href="#">{{article.author}}</a></span>
            <span class="comments-link"><a href="#">{{article.comment_set.count}}  评论</a></span>
            <span class="views-count"><a href="#">{{article.views}} 阅读</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{article.body|safe}}
        <div class="read-more cl-effect-14">
            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% endfor %}

<div class="pagination col-md-11">
    <ul>
        {% if page.has_previous %}
        <li class="col-md-2"><a href="/?page={{page.previous_page_number}}">上一页</a></li>

        {% endif %}
        {% comment %}
        <li class="col-md-1"><a href="">...</a></li>
        <li class="col-md-1"><a href="">53</a></li>
        <li class="col-md-1"><a href="">54</a></li>


        <li class="col-md-1"><a href="">57</a></li>
        <li class="col-md-1"><a href="">...</a></li>
        {% endcomment %}
        {% for i in page.paginator.page_range %}
            {% if i == page.number %}
            <li class="current col-md-1"><a href="/?page={{i}}">{{i}}</a></li>
            {% else %}
            <li class="col-md-1"><a href="/?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}


        {% if page.has_next %}
        <li class="col-md-2"><a href="/?page={{page.next_page_number}}">下一页</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

